@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);

/* ==========================================================================
Typography
========================================================================== */

p {
    font-size: 15px;
    line-height: 29px;
    /* color: rgba(28, 54, 83, 0.6); */
    color: darkslategray;
    padding-bottom: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    color: #3D4351;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3D4351;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 22px;
    color: #3D4351;
    /* text-transform: uppercase; */
    font-weight: 500;
}

.btn {
    font-size: 13px;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    border-color: steelblue;
    background-color: steelblue;
    color:white;
}

.btn:hover,
.btn:focus {
    color:coral;
    /*border-color: #FF5274;*/
    /*background-color: #FF5274; }*/
    border-color: steelblue;
    background-color: steelblue;
}

.btn-2019 {
    font-size: 13px;
    /* border: solid 2px; */
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    background-color: steelblue;
    color:white;
}
.btn-2019:hover,
.btn-2019:focus {
    color:white;
    /*border-color: #FF5274;*/
    /*background-color: #FF5274; }*/
    /*border-color: steelblue;*/
    background-color: rgb(55, 124, 180);
}

.btn-2021 {
    font-size: 13px;
    /* border: solid 2px; */
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    /* border-color: steelblue; */
    background-color: #8055bd;
    color:white;
}
.btn-2021:hover,
.btn-2021:focus {
    color:white;
    /*border-color: #FF5274;*/
    /*background-color: #FF5274; }*/
    /*border-color: steelblue;*/
    background-color: #7444b8;
}


.btn-white {
    font-size: 13px;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    border-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    /*color: #FF5274;*/
    /*border-color: #FF5274; }*/
    color: steelblue;
    border-color: steelblue;
}

.btn-fill {
    color: #fff;
    /*border: solid 2px #FF5274;*/
    border: solid 2px steelblue;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    /*background-color: #FF5274; }*/
    background-color: steelblue;
}

.btn-fill:hover,
.btn-fill:focus {
    color: #fff;
    /*background-color: #D7405D;*/
    /*border-color: #D7405D; }*/
    background-color: steelblue;
    border-color: steelblue;
}

.btn-small {
    padding: 8px 40px;
}

.btn-large {
    padding: 15px 40px;
}

.btn-margin-right {
    margin-right: 20px;
}

section.intro,
section.features-extra,
section.sign-up {
    background: #fff;
}

section.features,
section.blog-intro,
section.blog {
    background: #F3F4F8;
}


/* ==========================================================================
Global Styles
========================================================================== */

.group:after {
    content: "";
    display: table;
    clear: both;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

a {
    /*color: #FF5274;*/
    /*color: steelblue;*/
    color: red;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}

a:hover,
a:focus {
    color: rgb(172, 50, 74);
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: rgba(28, 54, 83, 0.6);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* ul li {
    list-style: none;
} */

.section-padding {
    padding: 120px 0;
}

.section-padding-small {
    padding: 50px 0 50px 0;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    visibility: visible;
    filter: alpha(opacity=0);
    opacity: 0;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #000;
    border-radius: 4px;
}

/* ==========================================================================
Added by Alex L
========================================================================== */

.a-black {
    /*color: #FF5274;*/
    /*color: steelblue;*/
    color: darkslategray;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}

.a-black:hover,
.a-black:focus {
    color: rgb(172, 50, 74);
    text-decoration: none;
}

.a-2021 {
    /*color: #FF5274;*/
    /*color: steelblue;*/
    color: #6900ff;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}

.a-2021:hover,
.a-2021:focus {
    color: rgb(172, 50, 74);
    text-decoration: none;
}

.speaker {
    font-size: larger;
    font-weight: 600;
}

.tooltip-alex {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted red;
    color: red

  }
  
.tooltip-alex .tooltiptext-alex {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid lightgray;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip-alex:hover .tooltiptext-alex {
    visibility: visible;
}

.tooltip-image {
    margin:30px;
    width: 400px;
}

.tables {
    /* white-space: nowrap; */
    margin-top:1.5em;
    margin-bottom:1.5em;
    border-collapse: collapse;
    border: 2px solid #eee;
    border-bottom: 3px solid #00cccc;
    font-size: 20px;
    line-height: 29px;
    color: darkslategray;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05),
        0px 20px 20px rgba(0,0,0,0.05),
        0px 30px 20px rgba(0,0,0,0.05);
}

.tables td{
    /* color: #999; */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

.tables th{
    text-align: center;
    padding: 6px 0px;
}

.tables-ll {
    /* white-space: nowrap; */
    margin-top:1.5em;
    margin-bottom:1.5em;
    border-collapse: collapse;
    /* border: 2px solid #eee; */
    border-bottom: 3px solid #00cccc;
    font-size: 20px;
    line-height: 29px;
    color: darkslategray;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05),
        0px 20px 20px rgba(0,0,0,0.05),
        0px 30px 20px rgba(0,0,0,0.05);
}

.tables-ll td{
    /* color: #999; */
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid #eee; */
    border: 1px solid #cecece;
    padding: 12px 35px;
    border-collapse: collapse;
}

.tables-ll th{
    text-align: center;
    padding: 6px 10px;
}

.tables-2021 {
    /* white-space: nowrap; */
    margin-top:1.5em;
    margin-bottom:1.5em;
    border-collapse: collapse;
    border: 2px solid #eee;
    border-bottom: 3px solid #8055bd;
    font-size: 20px;
    line-height: 29px;
    color: darkslategray;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05),
        0px 20px 20px rgba(0,0,0,0.05),
        0px 30px 20px rgba(0,0,0,0.05);
}
    
.tables-2021 td{
    /* color: #999; */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

.tables-2021 th{
    text-align: center;
    padding: 6px 0px;
}

.tables-2021-ll {
    /* white-space: nowrap; */
    margin-top:1.5em;
    margin-bottom:1.5em;
    border-collapse: collapse;
    /* border: 2px solid #eee; */
    border-bottom: 3px solid #8055bd;
    font-size: 20px;
    line-height: 29px;
    color: darkslategray;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
        0px 10px 20px rgba(0,0,0,0.05),
        0px 20px 20px rgba(0,0,0,0.05),
        0px 30px 20px rgba(0,0,0,0.05);
}

.tables-2021-ll td{
    /* color: #999; */
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid #eee; */
    border: 1px solid #cecece;
    padding: 12px 35px;
    border-collapse: collapse;
}

.tables-2021-ll th{
    text-align: center;
    padding: 6px 10px;
}


.table-ll-headers {
    background: #3c9fb5b0;
    border-right: 2px solid rgba(47, 79, 79, 0.233);
    border-left: 2px solid rgba(47, 79, 79, 0.233);
    color: white;
}

.table-ll-headers-2 {
    background: #3c9fb538;
    border-right: 2px solid rgba(47, 79, 79, 0.233);
    border-left: 2px solid rgba(47, 79, 79, 0.233);
}

.table-ll-headers-2021 {
    background: #6a33b696;
    border-right: 2px solid rgba(47, 79, 79, 0.233);
    border-left: 2px solid rgba(47, 79, 79, 0.233);
    color: white;
}

.table-ll-headers-2-2021 {
    background: #8055bd62;
    border-right: 2px solid rgba(47, 79, 79, 0.233);
    border-left: 2px solid rgba(47, 79, 79, 0.233);
}

.table-emphasis {
    background: #e8e1fc;
    font-weight: bold;
}

/* .table-ll-border-left {
    border-left: 2px solid rgba(47, 79, 79, 0.233)
}

.table-ll-border-right {
    border-right: 2px solid rgba(47, 79, 79, 0.233)
} */

/* .table-ll-border-both{
    border-right: 2px solid rgba(47, 79, 79, 0.233);
    border-left: 2px solid rgba(47, 79, 79, 0.233)
} */


.section-heading{
    margin-bottom: 1em;
}

.boxkey {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  
  .boxkey-workshop {
    background: #8460f42e;
  }
  
  .boxkey-challenge {
    background: #3c9fb538;
  }

  .boxkey-challenge-2021 {
    background: #8055bd3f;
  }
  
.content-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (max-width: 1023px) {
    .hero h1 {
        font-size: 4rem;
    }

    .hero img {
        height: 100%;
        object-fit: cover;
    }
}

.filter-me {
    filter: hue-rotate(280deg);
}

.filter-me-2023 {
    filter: hue-rotate(190deg);
}

.filter-me-2025 {
    filter: hue-rotate(80deg);
}

.filter-purple {
    filter: invert(11%) sepia(100%) saturate(6335%) hue-rotate(268deg) brightness(93%) contrast(124%);
}

.responsive-youtube{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.responsive-youtube iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
Animations
========================================================================== */

.pulse2 {
    -webkit-animation-name: pulse2;
    animation-name: pulse2;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes pulse2 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse2 {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.floating-arrow {
    -webkit-animation-name: floating-arrow;
    animation-name: floating-arrow;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-arrow {
    from {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    65% {
        -webkit-transform: translate(-50%, 15px);
        transform: translate(-50%, 15px);
    }
    to {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    65% {
        -webkit-transform: translate(-50%, 15px);
        transform: translate(-50%, 15px);
    }
    to {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

.floating-logo {
    -webkit-animation-name: floating-logo;
    animation-name: floating-logo;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-logo {
    from {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    50% {
        -webkit-transform: translate(-50%, 10px);
        transform: translate(-50%, 10px);
    }
    to {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@keyframes floating-logo {
    from {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    50% {
        -webkit-transform: translate(-50%, 10px);
        transform: translate(-50%, 10px);
    }
    to {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}


/* ==========================================================================
Waypoinsts
========================================================================== */

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9 {
    visibility: hidden;
}

.wp2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown {
    visibility: visible;
}


/* ==========================================================================
Navigation
========================================================================== */

/* Overlay container (hidden by default) */
.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow: hidden;
}

/* Show the overlay when active */
.nav-overlay.open {
    display: block;
}

/* Navigation links inside the overlay */
.overlay-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay-nav ul li {
    margin: 20px 0;
}

.overlay-nav ul li a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.overlay-nav ul li a:hover {
    color: #f39c12; /* Optional hover color */
}

.header-nav.open {
    visibility: visible;
    opacity: 0.9;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.nav-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 999999;
    padding: 10px 35px 16px 0;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
}

.nav-toggle span:before {
    top: -10px;
}

.nav-toggle span:after {
    bottom: -10px;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-toggle.active span {
    background-color: transparent;
}

.nav-toggle.active span:before,
.nav-toggle.active span:after {
    top: 0;
}

.nav-toggle.active span:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.active span:after {
    top: 10px;
    -ms-transform: translatey(-10px) rotate(-45deg);
    -webkit-transform: translatey(-10px) rotate(-45deg);
    transform: translatey(-10px) rotate(-45deg);
}

.navicon {
    position: absolute;
    height: 26px;
    right: 10px;
    top: 48px;
    visibility: hidden;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/* Enable smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
}


/* ==========================================================================
Hero
========================================================================== */

.hero {
    /*min-height: 750px;*/
    min-height: 680px;
    /*min-height: 750px;*/
    /*background: url("../img/background.gif") center center;*/
    background-size: cover;
    position: relative;

     background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


header.nav-scrolled {
    background: rgba(0, 0, 0, 0.95); /* Solid black */
    padding: 30px 0; /* Further reduce padding when scrolled */
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.header-content {
    max-width: 1170px; /* Center content within a fixed width */
    margin: 0 auto;
    padding: 0 15px;
}


.hero .down-arrow a {
    color: #fff;
}

.hero h1 {
    font-size: 6rem; 
    color: #fff;
    margin-bottom: 40px;
}

/* .hero img {
    height: 100%;
    object-fit: cover; 
} */

.hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
}

.hero .hero-content {
    padding-top: 26%;
    /*padding-top: 15%;*/
}

.navigation {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.fixed {
    position: fixed;
    background-color: #232731;
    z-index: 999;
    width: 100%;
}

video.hero-background-explore {

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.hero-background {
    position: absolute;
    width: 100%;

}

header {
    padding: 20px 0; /* Reduce padding for a smaller height */
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    position: fixed; /* Keep it fixed at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    margin: 0; /* Remove margin */
    z-index: 1000; /* Ensure it stays above other content */
    background: rgba(0, 0, 0, 0); /* Start with a transparent background */
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

header a.login {
    margin-right: 20px;
}

header .logo {
    display: inline-block;
}

header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0;
}

header ul.primary-nav li {
    display: inline;
}

header ul.primary-nav li a {
    color: #fff;
    padding-right: 25px;
}

header ul.primary-nav li a:hover {
    color: #FF5274;
}

header ul.primary-nav li:last-child a {
    padding-right: 0px;
}


header ul.primary-nav-2021 {
    margin: 0 0 0 0;
    padding: 0;
}

header ul.primary-nav-2021 li {
    display: inline;
}

header ul.primary-nav-2021 li a {
    color: #fff;
    padding-right: 15px;
}

header ul.primary-nav-2021 li a:hover {
    color: #8055bd;
}

header ul.primary-nav-2021 li:last-child a {
    padding-right: 0px;
}


header ul.member-actions li {
    display: inline;
}

header ul.member-actions li a {
    color: #fff;
}

header ul.member-actions li a:hover {
    color: #FF5274;
}

header .header-nav {
    display: inline-block;
}

header .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    top: 25px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.down-arrow {
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* ==========================================================================
Intro
========================================================================== */

.intro span.icon {
    font-size: 40px;
    color: #FF5274;
    /* font-weight: bold; */
}

.intro-section-padding {
    padding: 10px 0;
}

.intro-section-first-padding {
    padding: 40px 0px 10px 0px;
}

.intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 40px;
}

.intro-paragraph {
    font-size: 20px;
    display: inline-block;
}

.intro-news {
    font-size: 18px;
}

.intro-content {
    display: inline-block;
    /*width: 80%;*/
    width: 90%;
}

.intro-sub {
    color: white;
    font-size: 14px;
}

.logo-container{
    padding: 0px 25px 45px 25px;
}

.img-logo {
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-logo-alt {
    height: auto;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sponsor {
    height: 140px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ==========================================================================
Team Section
========================================================================== */

.team-section {
    background-color: #f9f9f9; /* Light gray background */
    padding: 50px 0; /* Top and bottom padding */
    width: 100%; /* Full width */
}

.container-fluid .row {
    display: flex;
    justify-content: center; /* Center members horizontally */
    flex-wrap: wrap; /* Allow wrapping to new rows */
    gap: 15px; /* Space between members in the same row */
    margin-bottom: 30px !important; /* Ensure there is space between rows */
}

.portfolio-box {
    max-width: 250px; /* Consistent size for member cards */
    text-align: center; /* Center-align text */
    background-color: white; /* White background for the card */
    padding: 15px; /* Internal spacing for the card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.img-members {
    border-radius: 50%; /* Circular images */
    width: 150px; /* Fixed width for images */
    height: 150px; /* Fixed height for images */
    display: block; /* Center within parent */
    margin: 0 auto; /* Center horizontally */
}

.portfolio-box-caption {
    text-align: center;
    margin-top: 10px; /* Space between image and text */
}



/* ==========================================================================
Spacing Adjustments
========================================================================== */

.container-fluid .row {
    gap: 15px; /* Reduced space between boxes in the same row */
    margin-bottom: 0; /* Minimized space between rows */
}

.portfolio-box {
    margin-bottom: 0; /* Remove extra margin between rows */
}

/* ==========================================================================
Challenge
========================================================================== */


.logo-container{
    padding: 0px 25px 45px 25px;
}

.img-logo {
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.challenge{
    position: relative;
}

/*.challenge p {*/
    /*margin-bottom: 0;*/
    /*padding-bottom: 0;*/
    /*color: rgb(64, 64, 64);*/
/*}*/

.challenge h3 {
    margin: 0 0 20px 0;
    color: rgb(64, 64, 64);
}

.challenge span.icon {
    font-size: 35px;
    color: #FF5274;
    font-weight: bold;
}

.challenge .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px;
}

.challenge .challenge-content {
    display: inline-block;
    /* width: 75%; */
    width: 90%;
    /* width: auto; */
    padding-bottom: 20px;
    /*color: rgb(64, 64, 64);*/
}

.challenge .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
}

.challenge .intro-content {
    display: inline-block;
    width: 80%;
    /*color: rgb(64, 64, 64);*/
}

.challenge ul.challenge-stack {
    margin-top: 50px;
    list-style-type: disc;
}

.challenge ul {
    list-style-type: disc;
    padding-left: 40px;
    color: rgb(64, 64, 64);
}

.challenge ol {
    padding-left: 20px;
    color: rgb(64, 64, 64);
}

.challenge ul.challenge-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}

.challenge ol.challenge-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}

.challenge li {
    font-size: 20px;
}

.challenge ul.challenge-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.challenge span.icon {
    font-size: 40px;
    color: #FF5274;
    font-weight: bold;
}

.challenge-section-padding {
    padding: 40px 0;
}
.challenge-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 40px;
}

.challenge-paragraph {
    font-size: 20px;
    display: inline-block;
}

.challenge-news {
    font-size: 18px;
}

.challenge-content {
    display: inline-block;
    /*width: 80%;*/
    width: 90%;
}

.challenge-sub {
    color: white;
    font-size: 14px;
}
.challenge .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("../img/ipad-device.png") no-repeat center center;
    z-index: 1;
}

.challenge .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url("../img/iphone6.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2;
}

.challenge .device-showcase {
    position: absolute;
    bottom: -365px;
    right: 61%;
}

.challenge .responsive-feature-img,
.challenge-extra .responsive-feature-img {
    display: none;
}

.devices {
    position: relative;
}
/* ==========================================================================
Features-stack
========================================================================== */

.features {
    position: relative;
}

.features p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.features h3 {
    margin: 0 0 20px 0;
}

.features span.icon {
    font-size: 35px;
    color: #FF5274;
    font-weight: bold;
}

.features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px;
}

.features .feature-content {
    display: inline-block;
    width: 75%;
}

.features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
}

.features .intro-content {
    display: inline-block;
    width: 80%;
}

.features ul.features-stack {
    margin-top: 50px;
}

.features ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}

.features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.features .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("../img/ipad-device.png") no-repeat center center;
    z-index: 1;
}

.features .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url("../img/iphone6.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2;
}

.features .device-showcase {
    position: absolute;
    bottom: -365px;
    right: 61%;
}

.features .responsive-feature-img,
.features-extra .responsive-feature-img {
    display: none;
}

.devices {
    position: relative;
}


/* ==========================================================================
.fitted-image
========================================================================== */


.full-height {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of the page */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
}

.fitted-image {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
}

.centered-content {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: auto; /* Dynamically adjust height based on content */
    min-height: 30vh; /* Optional: Set a minimal height for centering */
    width: 100%; /* Full width of the container */
    margin: 0 auto; /* Remove any additional horizontal margins */
    padding: 0; /* Remove any extra padding */
}


.centered-content p {
    margin-top: 5px; /* Minimal space between the image and caption */
    margin-bottom: 0; /* Remove extra space below the caption */
    font-size: 14px; /* Optionally reduce font size for the caption */
    line-height: 1.4; /* Improve text spacing */
}


.full-width-image {
    margin: 0 auto; /* Center the entire container horizontally */
    padding: 0; /* Remove extra padding */
    max-width: 80%; /* Limit the width of the container to 80% of the page */
    text-align: center; /* Center-align content within the container */
}

.centered-img {
    width: 100%; /* Image spans full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure no inline space below the image */
    margin: 0 auto; /* Center the image horizontally */
}

/* ==========================================================================
.features-extra
========================================================================== */

.features-extra {
    position: relative;
    z-index: 1;
}

.features-extra .btn {
    margin-top: 20px;
}

.features-extra .macbook-wrap {
    position: absolute;
    width: 916px;
    height: 540px;
    background: url("../img/macbook-pro.png") no-repeat center center;
    top: 114px;
    z-index: 4;
    left: 50%;
}


/* ==========================================================================
.prize-list
========================================================================== */

.prize-list {
    margin: 0;
    padding: 0;
    line-height: 1.5; /* Reduce vertical spacing */
}

.prize-list span {
    display: block;
    margin: 0; /* Remove extra space between rows */
    text-indent: 0; /* Start text flush */
    padding-left: 7em; /* Adjust space for label alignment */
    position: relative;
}

.prize-list span b {
    position: absolute; /* Keep the bold label fixed */
    left: 0; /* Align label to the left */
    width: 30em; /* Reserve space for the label */
    display: inline-block; /* Align label inline */
    text-align: left;
}

.prizes-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items on the page */
    gap: 20px; /* Add space between prize items */
    margin-top: 1em;
}

.prize-item {
    text-align: center;
    background-color: #f9f9f9; /* Light gray background for distinction */
    padding: 15px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 500px; /* Limit the width for better readability */
    width: 100%; /* Ensure responsiveness */
}

.prize-item h4 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}

.prize-item p {
    margin: 0.5em 0 0;
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

#prizes {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5em;
}

#CCN {
    margin-top: 1.5em;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}



/* ==========================================================================
.hero-strip
========================================================================== */

.hero-strip {
    background: #333844 url("../img/polygonal-bg.jpg") no-repeat center center;
}

.hero-strip i {
    color: #F69D52;
}

.hero-strip h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
}

.hero-strip h2 {
    color: #fff;
    margin: 0 0 20px 0;
}

.hero-strip p {
    color: #ACB1B4;
}

.hero-strip .btn {
    margin-top: 10px;
}

.hero-strip .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.hero-video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Ensure no overflow */
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%; /* Fill the entire container */
}

.full-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensures the video spans full width */
    height: 100%; /* Ensures the video spans full height */
    object-fit: cover; /* Maintains aspect ratio, filling the container */
    object-position: center; /* Centers the video content */
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;
    color: white;
}

/* ==========================================================================
.blog-intro
========================================================================== */

.blog-intro {
    padding-top: 160px;
}

.blog-intro h3 {
    margin-bottom: 70px;
}

.blog-intro .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA;
}

.blog-intro .rightcol {
    padding-left: 100px;
}


/* ==========================================================================
.blog
========================================================================== */

.blog {
    padding-bottom: 120px;
}

/*.blog img {
    width: 100%;
    height: auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}*/

.blog h2 {
    font-size: 11px;
    color: #ACB1B4;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 35px;
}

.blog .btn {
    margin-top: 20px;
}

.blog .blog-img-wrap {
    position: relative;
    overflow: hidden;
}

.blog .blog-img-wrap .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.blog .blog-img-wrap i {
    color: #fff;
    font-size: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 25px;
    right: 35px;
}

.blog .blog-img-wrap:hover img,
.blog .blog-img-wrap:focus img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blog .blog-img-wrap:hover .overlay,
.blog .blog-img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 9;
}

.blog figcaption i {
    margin-left: 5px;
    font-size: 15px;
}

.blog figcaption a.blog-post-title {
    color: rgba(28, 54, 83, 0.6);
}

.blog figcaption a.blog-post-title:hover,
.blog figcaption a.blog-post-title:focus {
    color: #3D4351;
}


/* ==========================================================================
.testimonial-slider
========================================================================== */

.testimonial-slider {
    background: url("../img/testimonials-bg.jpg") no-repeat center center;
    background-size: cover;
}

.testimonial-slider .avatar {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff;
}

.testimonial-slider .avatar img {
    width: 82px;
    height: auto;
}

.testimonial-slider h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 0;
}

.testimonial-slider p {
    color: #ACB1B4;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* ==========================================================================
Sign up form
========================================================================== */

.sign-up .signup-form .sign-up-btn {
    padding: 15px 0;
    border-radius: 3px;
    width: 80%;
    font-size: 13px;
}

.sign-up .signup-form .form-input-group {
    width: 80%;
    height: 55px;
    margin: 0 auto 10px;
    border-radius: 5px;
    border: solid 1px #E6E9EA;
    text-align: left;
    position: relative;
}

.sign-up .signup-form .form-input-group i {
    color: #FF5274;
    font-size: 14px;
}

.sign-up .signup-form .form-input-group i:after {
    content: "";
    height: 30px;
    width: 1px;
    border-right: solid 1px #E6E9EA;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sign-up .signup-form .form-input-group i.fa-lock {
    font-size: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
}

.sign-up .signup-form .form-input-group i.fa-envelope {
    font-size: 14px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
}

.sign-up .signup-form .form-input-group input {
    padding-left: 68px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
}

.sign-up .signup-form .form-input-group input::-webkit-input-placeholder {
    color: #BCC1C3;
}

.sign-up .signup-form .form-input-group input:-moz-placeholder {
    color: #BCC1C3;
}

.sign-up .signup-form .form-input-group input::-moz-placeholder {
    color: #BCC1C3;
}

.sign-up .signup-form .form-input-group input:-ms-input-placeholder {
    color: #BCC1C3;
}


/* ==========================================================================
To top
========================================================================== */

.to-top {
    height: 60px;
    background-color: #495061;
}

.to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center;
}

.to-top .to-top-wrap a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.15);
}

.to-top .to-top-wrap a:hover,
.to-top .to-top-wrap a:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

.to-top .to-top-wrap i {
    font-size: 30px;
    line-height: 55px;
}

.to-top .row {
    position: relative;
}


/* ==========================================================================
Footer
========================================================================== */

footer {
    background-color: #3D4351;
    position: relative;
}

footer p {
    color: #ACB1B4;
    font-size: 13px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #FF5274;
}

footer ul.footer-group {
    border-top: solid 1px #4E566C;
    padding-top: 25px;
    margin-bottom: 45px;
}

footer ul.footer-group li {
    display: inline-block;
}

footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase;
}

footer ul.footer-group li a:hover {
    color: #FF5274;
}

footer ul.footer-group li {
    margin-right: 30px;
}

footer ul.footer-group li:last-child {
    margin-right: 0;
}


footer ul.footer-group-2021 {
    border-top: solid 1px #4E566C;
    padding-top: 25px;
    margin-bottom: 45px;
}

footer ul.footer-group-2021 li {
    display: inline-block;
}

footer ul.footer-group-2021 li a {
    font-size: 13px;
    text-transform: uppercase;
}

footer ul.footer-group-2021 li a:hover {
    color: #8055bd;
}

footer ul.footer-group-2021 li {
    margin-right: 30px;
}

footer ul.footer-group-2021 li:last-child {
    margin-right: 0;
}


footer span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px;
}

footer .social-share {
    position: absolute;
    background-color: #373D4A;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 142px 0 0 70px;
}

footer .social-share p {
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
}

footer .social-share a.twitter-share {
    height: 60px;
    width: 60px;
    background-color: #1AB4EF;
    border-radius: 3px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

footer .social-share a.twitter-share:hover,
footer .social-share a.twitter-share:focus {
    background-color: #1590BF;
}

footer .social-share a.facebook-share:hover,
footer .social-share a.facebook-share:focus {
    background-color: #324C85;
}

footer .social-share a.facebook-share {
    height: 60px;
    width: 60px;
    background-color: #3B5898;
    border-radius: 3px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
}

footer .social-share a {
    color: #fff;
}

footer .social-share a:hover {
    color: #fff;
}

footer .social-share a i {
    margin-top: 20px;
}

footer .footer-links {
    margin: 120px 0 120px 0;
}


/* ==========================================================================
Icon font (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */

@font-face {
    font-family: 'et-line';
    src: url("../fonts/et-line.eot");
    src: url("../fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../fonts/et-line.woff") format("woff"), url("../fonts/et-line.ttf") format("truetype"), url("../fonts/et-line.svg#et-line") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
    font-family: 'et-line';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    color: blue;
}


/* Use the following CSS code if you want to have a class per icon */


/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-mobile,
.icon-laptop,
.icon-desktop,
.icon-tablet,
.icon-phone,
.icon-document,
.icon-documents,
.icon-search,
.icon-clipboard,
.icon-newspaper,
.icon-notebook,
.icon-book-open,
.icon-browser,
.icon-calendar,
.icon-presentation,
.icon-picture,
.icon-pictures,
.icon-video,
.icon-camera,
.icon-printer,
.icon-toolbox,
.icon-briefcase,
.icon-wallet,
.icon-gift,
.icon-bargraph,
.icon-grid,
.icon-expand,
.icon-focus,
.icon-edit,
.icon-adjustments,
.icon-ribbon,
.icon-hourglass,
.icon-lock,
.icon-megaphone,
.icon-shield,
.icon-trophy,
.icon-flag,
.icon-map,
.icon-puzzle,
.icon-basket,
.icon-envelope,
.icon-streetsign,
.icon-telescope,
.icon-gears,
.icon-key,
.icon-paperclip,
.icon-attachment,
.icon-pricetags,
.icon-lightbulb,
.icon-layers,
.icon-pencil,
.icon-tools,
.icon-tools-2,
.icon-scissors,
.icon-paintbrush,
.icon-magnifying-glass,
.icon-circle-compass,
.icon-linegraph,
.icon-mic,
.icon-strategy,
.icon-beaker,
.icon-caution,
.icon-recycle,
.icon-anchor,
.icon-profile-male,
.icon-profile-female,
.icon-bike,
.icon-wine,
.icon-hotairballoon,
.icon-globe,
.icon-genius,
.icon-map-pin,
.icon-dial,
.icon-chat,
.icon-heart,
.icon-cloud,
.icon-upload,
.icon-download,
.icon-target,
.icon-hazardous,
.icon-piechart,
.icon-speedometer,
.icon-global,
.icon-compass,
.icon-lifesaver,
.icon-clock,
.icon-aperture,
.icon-quote,
.icon-scope,
.icon-alarmclock,
.icon-refresh,
.icon-happy,
.icon-sad,
.icon-facebook,
.icon-twitter,
.icon-googleplus,
.icon-rss,
.icon-tumblr,
.icon-linkedin,
.icon-dribbble {
    font-family: 'et-line';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

.icon-mobile:before {
    content: "\e000";
}

.icon-laptop:before {
    content: "\e001";
}

.icon-desktop:before {
    content: "\e002";
}

.icon-tablet:before {
    content: "\e003";
}

.icon-phone:before {
    content: "\e004";
}

.icon-document:before {
    content: "\e005";
}

.icon-documents:before {
    content: "\e006";
}

.icon-search:before {
    content: "\e007";
}

.icon-clipboard:before {
    content: "\e008";
}

.icon-newspaper:before {
    content: "\e009";
}

.icon-notebook:before {
    content: "\e00a";
}

.icon-book-open:before {
    content: "\e00b";
}

.icon-browser:before {
    content: "\e00c";
}

.icon-calendar:before {
    content: "\e00d";
}

.icon-presentation:before {
    content: "\e00e";
}

.icon-picture:before {
    content: "\e00f";
}

.icon-pictures:before {
    content: "\e010";
}

.icon-video:before {
    content: "\e011";
}

.icon-camera:before {
    content: "\e012";
}

.icon-printer:before {
    content: "\e013";
}

.icon-toolbox:before {
    content: "\e014";
}

.icon-briefcase:before {
    content: "\e015";
}

.icon-wallet:before {
    content: "\e016";
}

.icon-gift:before {
    content: "\e017";
}

.icon-bargraph:before {
    content: "\e018";
}

.icon-grid:before {
    content: "\e019";
}

.icon-expand:before {
    content: "\e01a";
}

.icon-focus:before {
    content: "\e01b";
}

.icon-edit:before {
    content: "\e01c";
}

.icon-adjustments:before {
    content: "\e01d";
}

.icon-ribbon:before {
    content: "\e01e";
}

.icon-hourglass:before {
    content: "\e01f";
}

.icon-lock:before {
    content: "\e020";
}

.icon-megaphone:before {
    content: "\e021";
}

.icon-shield:before {
    content: "\e022";
}

.icon-trophy:before {
    content: "\e023";
}

.icon-flag:before {
    content: "\e024";
}

.icon-map:before {
    content: "\e025";
}

.icon-puzzle:before {
    content: "\e026";
}

.icon-basket:before {
    content: "\e027";
}

.icon-envelope:before {
    content: "\e028";
}

.icon-streetsign:before {
    content: "\e029";
}

.icon-telescope:before {
    content: "\e02a";
}

.icon-gears:before {
    content: "\e02b";
}

.icon-key:before {
    content: "\e02c";
}

.icon-paperclip:before {
    content: "\e02d";
}

.icon-attachment:before {
    content: "\e02e";
}

.icon-pricetags:before {
    content: "\e02f";
}

.icon-lightbulb:before {
    content: "\e030";
}

.icon-layers:before {
    content: "\e031";
}

.icon-pencil:before {
    content: "\e032";
}

.icon-tools:before {
    content: "\e033";
}

.icon-tools-2:before {
    content: "\e034";
}

.icon-scissors:before {
    content: "\e035";
}

.icon-paintbrush:before {
    content: "\e036";
}

.icon-magnifying-glass:before {
    content: "\e037";
}

.icon-circle-compass:before {
    content: "\e038";
}

.icon-linegraph:before {
    content: "\e039";
}

.icon-mic:before {
    content: "\e03a";
}

.icon-strategy:before {
    content: "\e03b";
}

.icon-beaker:before {
    content: "\e03c";
}

.icon-caution:before {
    content: "\e03d";
}

.icon-recycle:before {
    content: "\e03e";
}

.icon-anchor:before {
    content: "\e03f";
}

.icon-profile-male:before {
    content: "\e040";
}

.icon-profile-female:before {
    content: "\e041";
}

.icon-bike:before {
    content: "\e042";
}

.icon-wine:before {
    content: "\e043";
}

.icon-hotairballoon:before {
    content: "\e044";
}

.icon-globe:before {
    content: "\e045";
}

.icon-genius:before {
    content: "\e046";
}

.icon-map-pin:before {
    content: "\e047";
}

.icon-dial:before {
    content: "\e048";
}

.icon-chat:before {
    content: "\e049";
}

.icon-heart:before {
    content: "\e04a";
}

.icon-cloud:before {
    content: "\e04b";
}

.icon-upload:before {
    content: "\e04c";
}

.icon-download:before {
    content: "\e04d";
}

.icon-target:before {
    content: "\e04e";
}

.icon-hazardous:before {
    content: "\e04f";
}

.icon-piechart:before {
    content: "\e050";
}

.icon-speedometer:before {
    content: "\e051";
}

.icon-global:before {
    content: "\e052";
}

.icon-compass:before {
    content: "\e053";
}

.icon-lifesaver:before {
    content: "\e054";
}

.icon-clock:before {
    content: "\e055";
}

.icon-aperture:before {
    content: "\e056";
}

.icon-quote:before {
    content: "\e057";
}

.icon-scope:before {
    content: "\e058";
}

.icon-alarmclock:before {
    content: "\e059";
}

.icon-refresh:before {
    content: "\e05a";
}

.icon-happy:before {
    content: "\e05b";
}

.icon-sad:before {
    content: "\e05c";
}

.icon-facebook:before {
    content: "\e05d";
}

.icon-twitter:before {
    content: "\e05e";
}

.icon-googleplus:before {
    content: "\e05f";
}

.icon-rss:before {
    content: "\e060";
}

.icon-tumblr:before {
    content: "\e061";
}

.icon-linkedin:before {
    content: "\e062";
}

.icon-dribbble:before {
    content: "\e063";
}
